@font-face {
    font-family: "vazir";
    src: url("../font/Vazir.eot") format("embeddded-opentype") ,
    url("../font/Vazir.woff2") format("woff2") ,
    url("../font/Vazir.woff") format("woff") ,
    url("../font/Vazir.ttf") format("truetype") ;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    direction: rtl;
    text-align: right !important;
    font-family: "vazir" !important;
    line-height: 1.6;
}
ul {
    list-style-type: none;
}


.nav {
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: #333;
    align-items: center;
    color:#f4f4f4;
    position: sticky;
    overflow: hidden;
    width: 100%;
    height: 70px;
    padding: 15px 20px;
}

.items li a {
    text-decoration: none;
    color: #f4f4f4;
}
.items {
    display: flex;
    align-items: center;
}

.logo {
    color: #FFA726;
}
.domain {
    color: #f4f4f4;
    padding-left: 20px;
}
.footer {
    background-color: #333;
    color:#f4f4f4;
    bottom: 0;
    width: 100%;
    height: 45vh;
    justify-content: space-around;
    align-items: center;
}


.titr {
    color: #f4f4f4;
}
hr {
   background-color:#f3f3f3 ; 
   width: 150px;
}
.item {
    padding-top: 20px;
}
.item a {
    text-decoration: none;
}


.bottom a {
text-decoration: none;
}

.footer-link {  
    
    color: #f4f4f4;
    padding-left: 24px;
    align-items: center;
   
}
.icon {
    margin-left: 5px;
}

.zoom img {
    height: 85vh;
    width: 100%;
}